.CardUploadForm {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnResize {
  height: 45px;
}

.form {
  padding: 20px;
  background-color: white;
  border: 3px dashed black;
}

.errorMessage {
  color: white;
}