.Card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  border: 3px dashed black;
}

.gameTitle {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.p {
  margin: 10px 5px;
}

.image {
  max-height: 150px;
  max-width: 400px;
}